<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Comentarios</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/comments.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/media-querys.css">
    <script type="text/javascript" src="/javascript/comments.js"></script>
</head>
<body>
    <header>
        <%- include('../partials/navbar.html') %>
    </header>
    <main>
        <section>
            <div class="commentContainer">
                <div class="" id="commentsSection" name="commentSection"></div>
            </div>
            <div class="inputContainer">
                <form action="/comments" method="post">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">@</span>
                        <input type="text" class="form-control" placeholder="Nombre" aria-label="Username" aria-describedby="basic-addon1"
                        id="nombreUserNew"
                        name="nombreComentario">
                    </div>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Comenta aqui" id="floatingTextarea"
                        name="comentarioContenido"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success" id="sendButton">Enviar</button>
                </form>
            </div>
        </section>
    </main>
    <%- include('../partials/footer.html') %>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>