:root{
    --main-color-txt: #00dbd0;
    --white: #fff;
}

body{
    height: 80vh !important;
}

.main-container{
    padding: 50px;
    display: flex;
    align-items: center;

    & .image-container{
        width: fit-content;
    }

    & .information-container{
        & h3{
            color: var(--main-color-txt);
            font-size: 40px;
            font-weight: bold;
            text-align: center;
        }

        & p{
            color: var(--white);
            text-align: center;
        }
    }
}